{{ header }}
<div id="information-about" class="container">
  <div id="content">
    <div class="about-block flex-container flex-center flex-list flex-justify">
      <section>
        <h1 class="about-h1 uppercase">Почему<br>выбирают<br>именно<br>нас</h1>
        <img src="/image/about-babochka.png" alt="Почему выбирают именно нас">
      </section>
      <div class="about-img">
        <img src="/image/about-img1.jpg" alt="Почему выбирают именно нас">
      </div>
    </div>
    <div class="about-block about-flippers flex-container flex-center flex-justify">
      <div class="about-flipper-wrapper about-flipper-left">
        <div class="about-flipper-inner">
          <div class="about-flipper about-flipper-front flex-container flex-column">
            <div class="about-flipper-toggle"><img src="/image/about-flipper-open.svg"></div>
            <div class="about-flipper-content">
              <div class="about-flipper-image">
                <img src="/image/prices_image1.png">
              </div>
              <h2 class="about-h2 uppercase">Долговечные<br>ноские<br>удобные</h2>
            </div>
          </div>
          <div class="about-flipper about-flipper-back flex-container flex-column" style="background-image: linear-gradient(180deg, rgba(19, 92, 233, 0.8) 0%, #9600CB 100%), url(/image/about-img2.jpg)">
            <div class="about-flipper-toggle about-flipper-close"><img src="/image/about-flipper-open.svg"></div>
            <div class="about-flipper-content">
              <h2 class="about-h2 uppercase">Долговечные<br>ноские<br>удобные</h2>
              <p>Мы уверены, что такими свойствами обладают по-настоящему качественные вещи. Именно на основе этих критериев: долговечность, носкость и удобство, мы тщательно подбираем наш гардероб из классической и повседневной одежды.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="about-flipper-wrapper about-flipper-left">
        <div class="about-flipper-inner">
          <div class="about-flipper about-flipper-front flex-container flex-column">
            <div class="about-flipper-toggle"><img src="/image/about-flipper-open.svg"></div>
            <div class="about-flipper-content">
              <div class="about-flipper-image">
                <img src="/image/about-flipper-kurtka.png">
              </div>
              <h2 class="about-h2 uppercase">Широкий диапазон цен</h2>
            </div>
          </div>
          <div class="about-flipper about-flipper-back flex-container flex-column" style="background-image: linear-gradient(180deg, rgba(233, 19, 45, 0.8) 0%, #CB0061 100%), url(/image/about-flipper-left-back.jpg);">
            <div class="about-flipper-toggle about-flipper-close"><img src="/image/about-flipper-open.svg"></div>
            <div class="about-flipper-content">
              <h2 class="about-h2 uppercase">Широкий диапазон цен</h2>
              <p>В нашем магазине вы сможете купить одежду под любой бюджет. Например, пуховики от 3 500 Р до 50 000 Р.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-block about-flippers flex-container flex-center flex-justify">
      <div class="about-flipper-wrapper about-flipper-right">
        <div class="about-flipper-inner">
          <div class="about-flipper about-flipper-front flex-container flex-column">
            <div class="about-flipper-toggle"><img src="/image/about-flipper-open.svg"></div>
            <div class="about-flipper-content">
              <div class="about-flipper-image">
                <img src="/image/about-flipper-babochka.png">
              </div>
              <h2 class="about-h2 uppercase">Отзывчивый<br>персонал</h2>
            </div>
          </div>
          <div class="about-flipper about-flipper-back flex-container flex-column" style="background-image: linear-gradient(180deg, rgba(233, 19, 45, 0.8) 0%, #F87C0A 100%), url(/image/about-flipper-right-back.jpg)">
            <div class="about-flipper-toggle about-flipper-close"><img src="/image/about-flipper-open.svg"></div>
            <div class="about-flipper-content">
              <h2 class="about-h2 uppercase">Отзывчивый<br>персонал</h2>
              <p>В зале очень просто найти консультанта, который поможет найти, подобрать и примерить понравившуюся одежду</p>
            </div>
          </div>
        </div>
      </div>
      <div class="about-flipper-wrapper about-flipper-right">
        <div class="about-flipper-inner">
          <div class="about-flipper about-flipper-front flex-container flex-column">
            <div class="about-flipper-toggle"><img src="/image/about-flipper-open.svg"></div>
            <div class="about-flipper-content">
              <div class="about-flipper-image">
                <img src="/image/prices_image2.png">
              </div>
              <h2 class="about-h2 uppercase">Простой порядок возврата</h2>
            </div>
          </div>
          <div class="about-flipper about-flipper-back flex-container flex-column" style="background-image: linear-gradient(180deg, rgba(19, 233, 220, 0.8) 0%, #1E6EE6 100%), url(/image/about-flipper-left-back.jpg)">
            <div class="about-flipper-toggle about-flipper-close"><img src="/image/about-flipper-open.svg"></div>
            <div class="about-flipper-content">
              <h2 class="about-h2 uppercase">Простой порядок возврата</h2>
              <p>Если вам не подошла или не понравилась купленная вещь, мы легко обменяем ее или вернем деньги.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.about-flipper-toggle').click(function(event) {
    $(this).parents('.about-flipper-inner').toggleClass('active');
  });
</script>
{{ footer }}