{{ header }}
<div id="information-contact" class="contacts-map">
  <div class="container">
    <div class="contacts-contacts">
      <div class="contacts-header">
        <h1 class="header-1">Адреса магазинов TEX в Хабаровске</h1>
      </div>
      <div class="contact flex-container flex-center flex-justify flex-list">
        <div class="contact-address">
          <h2 class="header-2">ул Льва Толстого, 15</h2>
          <p class="contact-help">Торговый Бульвар Центрального Рынка</p>
        </div>
        <div class="contact-phone">
          <div class="flex-container flex-center">
            <img src="/image/src/ic-phone.svg">
            <a href="mailto: +74212737910" class="header-2">73-79-10</a>
          </div>
          <p class="contact-help">с 10:00 до 19:00</p>
        </div>
      </div>
      <div class="contact flex-container flex-center flex-justify flex-list">
        <div class="contact-address">
          <h2 class="header-2">ул Ленинградская, 28И</h2>
          <p class="contact-help">ТЦ «Макси Молл»</p>
        </div>
        <div class="contact-phone">
          <div class="flex-container flex-center">
            <img src="/image/src/ic-phone.svg">
            <a href="mailto: +74212456300" class="header-2">45-63-00</a>
          </div>
          <p class="contact-help">с 10:00 до 20:00</p>
        </div>
      </div>
      <div class="contact flex-container flex-center flex-justify flex-list">
        <div class="contact-address">
          <h2 class="header-2">ул Льва Толстого, 19</h2>
          <p class="contact-help">ТЦ «На Пушкина», 4 этаж</p>
        </div>
        <div class="contact-phone">
          <div class="flex-container flex-center">
            <img src="/image/src/ic-phone.svg">
            <a href="mailto: +74212456500" class="header-2">45-65-00</a>
          </div>
          <p class="contact-help">с 10:00 до 21:00</p>
        </div>
      </div>
      <div class="contact flex-container flex-center flex-justify flex-list">
        <div class="contact-address">
          <h2 class="header-2">ул Ленина, 85</h2>
          <p class="contact-help">ТЦ «Энергоплаза», 4 этаж</p>
        </div>
        <div class="contact-phone">
          <div class="flex-container flex-center">
            <img src="/image/src/ic-phone.svg">
            <a href="mailto: +74212456700" class="header-2">45-67-00</a>
          </div>
          <p class="contact-help">с 10:00 до 20:00</p>
        </div>
      </div>
      <div class="contact flex-container flex-center flex-justify flex-list">
        <div class="contact-address">
          <h2 class="header-2">ул Большая, 91</h2>
          <p class="contact-help">ТЦ «Большая Медведица», 4 этаж</p>
        </div>
        <div class="contact-phone">
          <div class="flex-container flex-center">
            <img src="/image/src/ic-phone.svg">
            <a href="mailto: +74212456800" class="header-2">45-68-00</a>
          </div>
          <p class="contact-help">с 10:00 до 20:00</p>
        </div>
      </div>
      <div class="contact flex-container flex-center flex-justify flex-list">
        <div class="contact-address">
          <h2 class="header-2">ул Суворова, 25</h2>
          <p class="contact-help">ТЦ «Южный Парк», 2 этаж</p>
        </div>
        <div class="contact-phone">
          <div class="flex-container flex-center">
            <img src="/image/src/ic-phone.svg">
            <a href="mailto: +74212456005" class="header-2">45-60-05</a>
          </div>
          <p class="contact-help">с 10:00 до 21:00</p>
        </div>
      </div>
    </div>
  </div>
  <div id="map">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A36e76e7683bf0a8f2ea9f6bd26148ce16ca7f5a168e203e2b5a17b35a95fe83d&amp;width=100%25&amp;height=700&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
</div>
{{ footer }}
