<div class="swiper-viewport">
  <div id="banner{{ module }}" class="swiper-container home-banner">
    <div class="swiper-wrapper">{% for banner in banners %}
      <div class="swiper-slide">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %}
  	</div>
  	{% if count > 1 %}
  	<div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
	{% endif %}
  </div>
</div>
{% if count > 1 %}
<script type="text/javascript">	
	var banner_{{ module }} = new Swiper('#banner{{ module }}', {
	  spaceBetween: 0,
	  slidesPerView: 1,
	  loop: true,
	  autoHeight: true,
	  {% if slides_per_view > 1 %}
	  breakpoints: {
	    // when window width is >= 768px
	    768: {
	      spaceBetween: parseInt("{{ space_between }}"),
	      slidesPerView: parseInt("{{ slides_per_view }}")
	    }
	  },
	  {% endif %}
	  watchOverflow: true,
	  autoplay: {
	    delay: 5000,
	    disableOnInteraction: false,
	  },
	  navigation: {
	    nextEl: '.swiper-button-next',
	    prevEl: '.swiper-button-prev'
	  },
	  {% if slides_per_view == 1 %}
	  pagination: {
	    el: '.swiper-pagination',
	    type: 'bullets'
	  }
	  {% endif %}
	});
</script>
{% endif %} 