<footer>
  <div class="footer-wrapper">
    <div class="container">
      <div class="flex-container flex-justify mobile-block">
        <div class="logo">
          {% if logo_footer %}
            {% if home == og_url %}
              <img src="{{ logo_footer }}" title="{{ name }}" alt="{{ name }}"/>
            {% else %}
              <a href="{{ home }}"><img src="{{ logo_footer }}" title="{{ name }}" alt="{{ name }}"/></a>
            {% endif %}
          {% elseif logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/>
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/></a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
        </div>
        <ul class="list-unstyled">
          <li><h3>Помощь</h3></li>
          <li><a class="caption" href="policy">Политика конфиденциальности</a></li>
          <li><a class="caption" href="returns">Обмен товара и возврат средств</a></li>
        </ul>
        <ul class="list-unstyled">
          <li><h3>Покупателям</h3></li>
          <li><a class="caption" href="buyers">Доставка</a></li>
          <li><a class="caption" href="sizes">Таблица размеров</a></li>
        </ul>
        <ul class="list-unstyled">
          <li><h3>Оставайтесь на связи</h3></li>
          <li class="footer-social flex-list">
            <a href="https://instagram.com/tex.dv" target="_blank" rel="noopener noreferrer"><img src="image/src/inst.svg" alt="Instagram" title="Instagram"></a>
            <a href="https://wa.me/79841732939" target="_blank" rel="noopener noreferrer"><img src="image/src/ic-wa-footer.svg" alt="WhatsApp" title="WhatsApp"></a>
          </li>
          <li><p>{{ telephone }} <span class="caption">({{ open }})</span></p></li>
          <li><a class="footer-contacts caption" href="contacts">Адреса магазинов в г. Хабаровск</a></li>
        </ul>
      </div>
      <hr>
      <div class="flex-container flex-center flex-justify item-title caption">
        <p>© {{ year }} {{ store_name }}</p>
        <a href="https://4ait.ru" target="_blank" rel="noopener noreferrer">Разработка 4А</a>
      </div>
      <!-- Yandex.Metrika informer -->
      <a href="https://metrika.yandex.ru/stat/?id=78203563&amp;from=informer"
      target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/78203563/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
      style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="78203563" data-lang="ru" /></a>
      <!-- /Yandex.Metrika informer -->

      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
         (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
         m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
         (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

         ym(78203563, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
         });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/78203563" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
    </div>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>