{{ header }}
<script src="catalog/view/javascript/swiper/swiper-bundle.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/swiper/swiper-bundle.min.css">
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
        {% for category in categories %}
        <div class="category-heading flex-container flex-center flex-justify">
            <a href="{{ category.href }}" class="watch-all cneterArrow">{{ category.name }}</a>
        </div>
        <div class="swiper-viewport category-featured">
        <div class="row">
            <div class="swiper-container code" {% if module %}id="featured_{{ module }}"{% endif %}>
              <div class="swiper-wrapper">  
                  {% for product in category.products %}
                    <div class="swiper-slide">
                        {% include 'default/template/common/product-thumb.twig' with {'home_layout': true} %}
                    </div>
                  {% endfor %}
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
        </div>
      </div>
        {% endfor %}
      </div>  
        {{ content_bottom }}
        {{ column_right }}
  </div>
</div>
<script>
  var featured_{{ module }} = new Swiper('.code', {
    spaceBetween: 3.5,
    slidesPerView: 2,
    autoHeight: true,
    slidesOffsetAfter: 32,
    breakpoints: {
      // when window width is >= 768px
      768: {
        spaceBetween: 0,
        slidesPerView: 3,
      },
      992: {
        spaceBetween: 0,
        slidesPerView: 4.5,
      }
    },
    watchOverflow: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  });
</script>
{{ footer }}